<div id="home">
  <div class="col center">
    <h1>Dialogue box</h1>
    <button action="db-center">
      <span>Center</span>
    </button>
    <button action="db-top">
      <span>Top</span>
    </button>
    <button action="db-bottom">
      <span>Bottom</span>
    </button>

    <button action="page1">Push page one</button>
  </div>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid illum fugiat alias asperiores animi fugit autem
    tenetur, eveniet quibusdam rerum, voluptatibus accusantium quaerat quas maiores tempora labore optio enim, ipsa
    sapiente tempore minima ut officiis esse. Soluta quod ducimus impedit veritatis, amet vitae ipsam doloremque eum non
    distinctio ea, pariatur beatae deserunt corrupti blanditiis voluptas placeat necessitatibus magnam, magni quaerat
    facilis laborum dignissimos laudantium rem! Aperiam quidem dolorem eligendi, facere atque labore minus quam dicta
    soluta accusantium nesciunt architecto autem tempora ipsa. Eaque rem temporibus placeat expedita, eius consectetur
    mollitia recusandae vitae accusantium nobis! Similique quidem saepe dicta provident atque.</p>
</div>