<div id="home">
  <div class="col center">
    <h1>Dialogue box</h1>
    <button action="db-center">Center</button>
    <button action="db-top">Top</button>
    <button action="db-bottom">Bottom</button>
  </div>
</div>