/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/page/page.scss ***!
  \******************************************************************************************************************************************************************/
#app[platform='android'] cordova-page {
  padding-top: 24px;
  box-sizing: border-box; }

cordova-page {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #282828;
  background-color: var(--primary-color); }
  cordova-page header:not(:empty) {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    height: 60px;
    font-size: 1.6rem; }
    cordova-page header:not(:empty) [class^='icon-'] {
      height: 60px;
      width: 60px;
      font-size: 1.8rem; }
  cordova-page .body {
    width: 100%;
    height: 100%; }
  cordova-page[secondary=true] {
    opacity: 1;
    -webkit-animation: page-transition 100ms ease 1;
            animation: page-transition 100ms ease 1; }
    cordova-page[secondary=true].hide {
      -webkit-transform: translate3d(0, 100%, 0);
              transform: translate3d(0, 100%, 0);
      opacity: 0;
      -webkit-animation: page-transition-reverse 100ms ease 1;
              animation: page-transition-reverse 100ms ease 1; }
    cordova-page[secondary=true].no-transition {
      -webkit-animation: none;
              animation: none; }
    cordova-page[secondary=true] .body {
      height: calc(100% - 60px); }

