<div id="{{id}}" class="page {{#secondary}}secondary{{/secondary}}">
  {{#secondary}}
  <header>
    <span class="icon arrow_back" action="back"></span>
    <span class="title">{{title}}</span>
  </header>
  {{/secondary}}
  <div class="page-body"></div>
</div>