@import '../../mixins.scss';

#app[platform='android'] {
  cordova-page{
    @include statusbar;
  }
}


cordova-page {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  @include bgcolor;

  header:not(:empty) {
    width: 100%;
    @include flex-row;
    justify-content: flex-start;
    height: 60px;
    font-size: 1.6rem;

    [class^='icon-'] {
      @include icon(60px, 60px, 1.8rem);
    }
  }

  .body {
    width: 100%;
    height: 100%;
  }

  &[secondary=true] {
    opacity: 1;
    animation: page-transition 100ms ease 1;

    &.hide {
      transform: translate3d(0, 100%, 0);
      opacity: 0;
      animation: page-transition-reverse 100ms ease 1;
    }

    &.no-transition {
      animation: none;
    }

    .body{
      height: calc(100% - 60px);
    }
  }
}
