@import "../../mixins.scss";

.page {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  @include bgcolor;
  @include statusbar;

  &.secondary {
    animation: page-transition 100ms ease 1;

    &.hide {
      /*transform: translate3d(0, 100%, 0);*/
      opacity: 0;
      animation: page-transition-reverse 100ms ease 1;
    }
  }


  header {
    @include flex-row;
    background-color: var(--secondary-color);
    justify-content: flex-start;
    height: 68px;
    padding-top: 28px;
    margin-top: -28px;
    font-size: 1.6rem;
    box-shadow: 0 0 4px 0 rgba($color: #000000, $alpha: 0.2);

    .title:first-child {
      margin-left: 1rem;
      font-weight: 600;
    }

    .icon {
      @include icon(60px, 60px, 1.8rem);
    }
  }

  .page-body {
    width: 100%;
    height: calc(100% - 60px);
  }
}