@import './mixins.scss';
@import './theme.scss';
@import './keyframes.scss';

html,
body {
  viewport-fit: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  @include bgcolor;
  color: white;
  font-family: 'Roboto', sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#app {
  &[platform='android'] {
    @include statusbar;
  }

  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
}

[action], [data-action]{
  *:not([action]){
    pointer-events: none;
  }
}

[class^='icon-'] {	
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &[action] {
    transition: all 100ms ease;

    &:active {
      transform: scale(0.92);
    }
  }
}

.grid {
  @include flex-row;
  flex-wrap: wrap;
}


cordova-page {
  @include flex-col;

  .col {
    @include flex-col;
  }

  button {
    height: 40px;
    margin-bottom: 10px;
    width: 120px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba($color: #000000, $alpha: 0.5);
    transition: all 300ms ease;

    &:active,
    &:focus {
      outline: none;
    }

    &:active {
      background-color: inherit;
      span{
        mix-blend-mode: difference;
      }
    }
  }
}