$icomoon-font-family: 'ui-icon' !default;
$icomoon-font-path: './res/fonts' !default;
$icon-error: '\e900';
$icon-error_outline: '\e901';
$icon-warning: '\e902';
$icon-loop: '\e903';
$icon-not_interested: '\e904';
$icon-replay: '\e905';
$icon-add: '\e906';
$icon-add_box: '\e907';
$icon-add_circle: '\e908';
$icon-add_circle_outline: '\e909';
$icon-block: '\e90a';
$icon-clear: '\e90b';
$icon-create: '\e90c';
$icon-link: '\e90d';
$icon-remove: '\e90e';
$icon-remove_circle: '\e90f';
$icon-remove_circle_outline: '\e910';
$icon-reply: '\e911';
$icon-save: '\e912';
$icon-send: '\e913';
$icon-save_alt: '\e914';
$icon-sd_storage: '\e915';
$icon-insert_photo: '\e916';
$icon-monetization_on: '\e917';
$icon-keyboard_arrow_down: '\e918';
$icon-keyboard_arrow_left: '\e919';
$icon-keyboard_arrow_right: '\e91a';
$icon-keyboard_arrow_up: '\e91b';
$icon-keyboard_backspace: '\e91c';
$icon-brightness_4: '\e91d';
$icon-collections: '\e91e';
$icon-color_lens: '\e91f';
$icon-crop: '\e920';
$icon-crop_original: '\e921';
$icon-navigate_before: '\e922';
$icon-navigate_next: '\e923';
$icon-tune: '\e924';
$icon-photo_size_select_actual: '\e925';
$icon-arrow_back: '\e926';
$icon-arrow_drop_down: '\e927';
$icon-arrow_drop_down_circle: '\e928';
$icon-arrow_drop_up: '\e929';
$icon-arrow_forward: '\e92a';
$icon-cancel: '\e92b';
$icon-check: '\e92c';
$icon-expand_less: '\e92d';
$icon-expand_more: '\e92e';
$icon-fullscreen: '\e92f';
$icon-fullscreen_exit: '\e930';
$icon-menu: '\e931';
$icon-keyboard_control: '\e932';
$icon-more_vert: '\e933';
$icon-refresh: '\e934';
$icon-arrow_upward: '\e935';
$icon-arrow_downward: '\e936';
$icon-arrow_left: '\e937';
$icon-arrow_right: '\e938';
$icon-arrow_back_ios: '\e939';
$icon-arrow_forward_ios: '\e93a';
$icon-share: '\e93b';
$icon-thumb_down_alt: '\e93c';
$icon-thumb_up_alt: '\e93d';
$icon-account_circle: '\e93e';
$icon-done: '\e93f';
$icon-favorite: '\e940';
$icon-favorite_outline: '\e941';
$icon-help: '\e942';
$icon-shop: '\e943';
$icon-watch_later: '\e944';
$icon-delete_outline: '\e945';
$icon-home_filled: '\e946';
$icon-logout: '\e947';
$icon-thumb_down_off_alt: '\e948';
$icon-thumb_up_off_alt: '\e949';
$icon-block_flipped: '\e94a';
$icon-help_center: '\e94b';
$icon-local_fire_department: '\e94c';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?9a9kwi');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?9a9kwi#iefix')
      format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?9a9kwi')
      format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?9a9kwi')
      format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?9a9kwi##{$icomoon-font-family}')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-error {
  &:before {
    content: $icon-error;
  }
}
.icon-error_outline {
  &:before {
    content: $icon-error_outline;
  }
}
.icon-warning {
  &:before {
    content: $icon-warning;
  }
}
.icon-loop {
  &:before {
    content: $icon-loop;
  }
}
.icon-not_interested {
  &:before {
    content: $icon-not_interested;
  }
}
.icon-replay {
  &:before {
    content: $icon-replay;
  }
}
.icon-add {
  &:before {
    content: $icon-add;
  }
}
.icon-add_box {
  &:before {
    content: $icon-add_box;
  }
}
.icon-add_circle {
  &:before {
    content: $icon-add_circle;
  }
}
.icon-add_circle_outline {
  &:before {
    content: $icon-add_circle_outline;
  }
}
.icon-block {
  &:before {
    content: $icon-block;
  }
}
.icon-clear {
  &:before {
    content: $icon-clear;
  }
}
.icon-create {
  &:before {
    content: $icon-create;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-remove {
  &:before {
    content: $icon-remove;
  }
}
.icon-remove_circle {
  &:before {
    content: $icon-remove_circle;
  }
}
.icon-remove_circle_outline {
  &:before {
    content: $icon-remove_circle_outline;
  }
}
.icon-reply {
  &:before {
    content: $icon-reply;
  }
}
.icon-save {
  &:before {
    content: $icon-save;
  }
}
.icon-send {
  &:before {
    content: $icon-send;
  }
}
.icon-save_alt {
  &:before {
    content: $icon-save_alt;
  }
}
.icon-sd_storage {
  &:before {
    content: $icon-sd_storage;
  }
}
.icon-insert_photo {
  &:before {
    content: $icon-insert_photo;
  }
}
.icon-monetization_on {
  &:before {
    content: $icon-monetization_on;
  }
}
.icon-keyboard_arrow_down {
  &:before {
    content: $icon-keyboard_arrow_down;
  }
}
.icon-keyboard_arrow_left {
  &:before {
    content: $icon-keyboard_arrow_left;
  }
}
.icon-keyboard_arrow_right {
  &:before {
    content: $icon-keyboard_arrow_right;
  }
}
.icon-keyboard_arrow_up {
  &:before {
    content: $icon-keyboard_arrow_up;
  }
}
.icon-keyboard_backspace {
  &:before {
    content: $icon-keyboard_backspace;
  }
}
.icon-brightness_4 {
  &:before {
    content: $icon-brightness_4;
  }
}
.icon-collections {
  &:before {
    content: $icon-collections;
  }
}
.icon-color_lens {
  &:before {
    content: $icon-color_lens;
  }
}
.icon-crop {
  &:before {
    content: $icon-crop;
  }
}
.icon-crop_original {
  &:before {
    content: $icon-crop_original;
  }
}
.icon-navigate_before {
  &:before {
    content: $icon-navigate_before;
  }
}
.icon-navigate_next {
  &:before {
    content: $icon-navigate_next;
  }
}
.icon-tune {
  &:before {
    content: $icon-tune;
  }
}
.icon-photo_size_select_actual {
  &:before {
    content: $icon-photo_size_select_actual;
  }
}
.icon-arrow_back {
  &:before {
    content: $icon-arrow_back;
  }
}
.icon-arrow_drop_down {
  &:before {
    content: $icon-arrow_drop_down;
  }
}
.icon-arrow_drop_down_circle {
  &:before {
    content: $icon-arrow_drop_down_circle;
  }
}
.icon-arrow_drop_up {
  &:before {
    content: $icon-arrow_drop_up;
  }
}
.icon-arrow_forward {
  &:before {
    content: $icon-arrow_forward;
  }
}
.icon-cancel {
  &:before {
    content: $icon-cancel;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-expand_less {
  &:before {
    content: $icon-expand_less;
  }
}
.icon-expand_more {
  &:before {
    content: $icon-expand_more;
  }
}
.icon-fullscreen {
  &:before {
    content: $icon-fullscreen;
  }
}
.icon-fullscreen_exit {
  &:before {
    content: $icon-fullscreen_exit;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-keyboard_control {
  &:before {
    content: $icon-keyboard_control;
  }
}
.icon-more_vert {
  &:before {
    content: $icon-more_vert;
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh;
  }
}
.icon-arrow_upward {
  &:before {
    content: $icon-arrow_upward;
  }
}
.icon-arrow_downward {
  &:before {
    content: $icon-arrow_downward;
  }
}
.icon-arrow_left {
  &:before {
    content: $icon-arrow_left;
  }
}
.icon-arrow_right {
  &:before {
    content: $icon-arrow_right;
  }
}
.icon-arrow_back_ios {
  &:before {
    content: $icon-arrow_back_ios;
  }
}
.icon-arrow_forward_ios {
  &:before {
    content: $icon-arrow_forward_ios;
  }
}
.icon-share {
  &:before {
    content: $icon-share;
  }
}
.icon-thumb_down_alt {
  &:before {
    content: $icon-thumb_down_alt;
  }
}
.icon-thumb_up_alt {
  &:before {
    content: $icon-thumb_up_alt;
  }
}
.icon-account_circle {
  &:before {
    content: $icon-account_circle;
  }
}
.icon-done {
  &:before {
    content: $icon-done;
  }
}
.icon-favorite {
  &:before {
    content: $icon-favorite;
  }
}
.icon-favorite_outline {
  &:before {
    content: $icon-favorite_outline;
  }
}
.icon-help {
  &:before {
    content: $icon-help;
  }
}
.icon-shop {
  &:before {
    content: $icon-shop;
  }
}
.icon-watch_later {
  &:before {
    content: $icon-watch_later;
  }
}
.icon-delete_outline {
  &:before {
    content: $icon-delete_outline;
  }
}
.icon-home_filled {
  &:before {
    content: $icon-home_filled;
  }
}
.icon-logout {
  &:before {
    content: $icon-logout;
  }
}
.icon-thumb_down_off_alt {
  &:before {
    content: $icon-thumb_down_off_alt;
  }
}
.icon-thumb_up_off_alt {
  &:before {
    content: $icon-thumb_up_off_alt;
  }
}
.icon-block_flipped {
  &:before {
    content: $icon-block_flipped;
  }
}
.icon-help_center {
  &:before {
    content: $icon-help_center;
  }
}
.icon-local_fire_department {
  &:before {
    content: $icon-local_fire_department;
  }
}
