#home {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #home .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #home button {
    height: 40px;
    margin-bottom: 10px;
    width: 120px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    #home button:active, #home button:focus {
      outline: none; }
    #home button:active {
      -webkit-transform: scale(0.99) translateZ(0);
              transform: scale(0.99) translateZ(0);
      background-color: #ccc; }
  #home p {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
    padding: 10px; }

.page {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #282828;
  background-color: var(--primary-color); }
  .page[platform=android] {
    padding-top: 28px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .page.secondary {
    -webkit-animation: page-transition 100ms ease 1;
            animation: page-transition 100ms ease 1; }
    .page.secondary.hide {
      -webkit-transform: translate3d(0, 100%, 0);
              transform: translate3d(0, 100%, 0);
      opacity: 0;
      -webkit-animation: page-transition-reverse 100ms ease 1;
              animation: page-transition-reverse 100ms ease 1; }
  .page header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 60px;
    font-size: 1.6rem; }
    .page header .icon {
      height: 60px;
      width: 60px;
      font-size: 1.8rem; }
  .page .page-body {
    width: 100%;
    height: calc(100% - 60px); }

